@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Shantell+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  font-family: "Shantell Sans", cursive;
  background-color: #1e1e1e;
}

::-webkit-scrollbar {
  width: 4px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background: #9c9c9c;
  border-radius: 8px;
}

/* input disable buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
